@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.page-enter-active, .page-leave-active {
    transition: opacity 700ms, transform 700ms;
}

.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateY(-30%);
}

.page-leave-to {
    opacity: 0;
    transform: translateY(30%);
}

.menu-link {
    @apply .text-4xl .font-semibold;
}

.menu-link:after {
    @apply .block .border-solid .border-b-2 .border-indigo-800 .transition-transform .duration-500 .ease-in-out .transform .scale-x-0 .origin-left;
    content: '';
}

.menu-link:hover:after, .menu-link.selected:after {
    @apply .transform .scale-x-100 .origin-left;
}
